RUN__HOST=0.0.0.0
RUN__PORT=8000

POSTGRES_DB=your_database_name
POSTGRES_USER=your_database_user
POSTGRES_PASSWORD=your_password

DB__URL=postgresql+asyncpg://your_database_user:your_password@pg:5432/your_database_name
